footer {
    border-top: 1px solid #cac9c9;
}
header {
    border-bottom: 1px solid #cac9c9;
}
footer .info-list {
    text-align: center;
}
footer .info-column {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 1030px){
.main-header .main-box .logo-box {
     float: none;
}
}

.page-title {
    display: none;
}

@media only screen and (min-width: 900px){

.menu-home {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 150px; 
    margin-top: 30px;
}
/* TEMPORAIRE POUR TEST ! */
.menu-home img:first-of-type {
    height: 250px;
}
/* FIN TEMPORAIRE */
.menu-home img:hover {
    opacity: 0.5;
}
.menu-home ul li {
    display: inline-block;
    max-width: 29.333%;
    margin: 0 2%;
    vertical-align: top;
}
.menu-home ul li a {
    display: block;
}
.title-menu-home {
    text-align: center;
}

}

@media only screen and (max-width: 899px){
    
    
    .menu-home ul li {
        max-width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    
    }

.logo-projects {
    width: 250px;
}