footer {
    border-top: 1px solid #cac9c9;
}
header {
    border-bottom: 1px solid #cac9c9;
}
footer .info-list {
    text-align: center;
}
footer .info-column {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (min-width: 1030px){
.main-header .main-box .logo-box {
     float: none;
}
}

.page-title {
    display: none;
}

@media only screen and (min-width: 900px){

.menu-home {
    max-width: 1040px;
    margin: 30px auto;
}
/* TEMPORAIRE POUR TEST ! */
.menu-home img:first-of-type {
    height: 250px;
}
/* FIN TEMPORAIRE */
.menu-home img:hover {
    opacity: 0.5;
}
.menu-home ul li {
    display: inline-block;
    max-width: 29%;
    margin: 0 2%;
    vertical-align: top;
}
.menu-home ul li a {
    display: block;
}
.title-menu-home {
    text-align: center;
}

}

@media only screen and (max-width: 899px){
    
    
    .menu-home ul li {
        max-width: 50%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    
    } 

.logo-projects {
    width: 250px;
}
/* IMAGE HOME HOVER */
.middle-img {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    text-align: center;
  }
  @media all and (min-width: 895px){
  .line-home:hover img {
    opacity: 0.3;
  }
  
  .line-home:hover .middle-img {
    opacity: 1;
  }
  .nav-outer.clearfix {
      height: 0px;
  }
  .main-menu .navbar-collapse {
    position: relative;
    bottom: 16px;
  }
}


  .title-menu-home {
    position: relative;
    left: 40%;
    width: 163px;
}
/* FIN IMAGE HOME HOVER */

.about-section .image-column {
    width: 40%;
}
.about-section .content-column {
    width: 60%;
    padding: 0;
}
.ranges-section {
    position: relative;
    top: 150px;
    margin: 0;
    padding: 50px 0;
    background-color: rgba(254, 189, 224, 0.6);
}
.ranges-section .filters {
    margin: 0;
}
.ranges-section ul li a {
    font-size: 19px;
    margin: 0 25px;
}


@media all and (max-width: 894px){
.middle-img, .about-section .image {
    display: none;
}
.main-menu {
    z-index: 100;
}
.about-section .content-column {
    width: 80%;
    margin: 0 10%;
}

.ranges-section {
    top: 0px;
}

.ranges-section ul li {
    padding: 10px 0 !important;
}

.logo-projects {
    width: 150px;
}
}

@media all and (max-width: 528px){
.ranges-section ul li a {
    font-size: 13px;
}
.ranges-section ul li:first-of-type {
    border-bottom: solid 1px #d5156d;
}
}